boto==2.48.0
bz2file==0.98
certifi==2017.7.27.1
chardet==3.0.4
dill==0.2.7.1
gensim==3.0.0
gi==1.2
gTTS==1.2.2
gTTS-token==1.1.1
idna==2.6
numpy==1.13.1
playsound==1.2.2
PyAudio==0.2.11
requests==2.18.4
scipy==0.19.1
six==1.11.0
smart-open==1.5.3
SpeechRecognition==3.7.1
urllib3==1.24.1
